<form action="/api/create" method="POST">
  Add an Herb:<br>
  <input type="text" name="herb" placeholder="List your herb"><br>
  List the Botanical Name:<br>
  <input type="text" name="botanicalName" placeholder="i.e. Spiraea ulmaria"><br>
  Describe the Flavor:<br>
  <input type="text" name="flavor" placeholder="example: sweet, sour, or nutty"><br>
  List the Herb's Healing Properties:<br>
  <input type="text" name="heal" placeholder="example: treats brusing and muscle soreness"><br>
  Tell us How to Prepare this Herb:<br>
  <input type="text" name="prepare" placeholder="example: use the leaves in tea"><br>
  Link us to Your Favorite Recipe:<br>
  <input type="text" name="recipe" placeholder="paste a link here"><br>
  Link us to an Image of this Herb:<br>
  <input type="text" name="url" placeholder="paste a link here"><br>
  Tags:<br>
  <input type="text" name="tags" placeholder="medicinal"><br>

  <input type="submit" value="Submit">
</form>
